@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family : 'NotoSerifKR';
}

.fittingLayout {
    display: inline-block;
    width: 1420px;
    height: 882px;
    margin-top: 99px;
    margin-left: 200px;
}

.person {
    float: left;
    width: 520px;
    height: 818px;
    margin-right: 16px;
}

h3 {
    text-decoration : underline;
    text-decoration-thickness: 2px;
    text-underline-offset : 10px;
}

.personImageBig {
    width: 500px;
    height: 770px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: dotted 2px #d3d3d3;
    border-radius: 16px;
}

.personUp {
    display: block;
    margin-top: 300px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #8d8d8d;
}

.personUp:hover {
    cursor: pointer;
    color: #000000;
}

.personUpBtn {
    display: block;
    width: 120px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    margin: 0 auto;
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 8px;
    text-align: center;
    color: black;
    font-family : 'NotoSerifKR';
}

.personUpBtn:hover {
    background-color: white;
    border: none;
    cursor: pointer;
}

input[type=file] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.clothes {
    float: left;
    width: 344px;
    height: 706px;
    margin-right: 16px;
}

.buttonGroup {
    width: 340px;
    height: 50px;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
}

.sampleClothes {
    width: 170px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    border-radius: 25px;
    color: white;
    background-color: black;
}

.uploadClothes {
    width: 170px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
}

.uploadClothes:active, .uploadClothes:focus {
    cursor: pointer;
    color: white;
    background-color: black;
}

.topClothes {
    width: 344px;
    height: 256px;
    margin-bottom: 8px;
}

.clothesTable {
    border: none;
}

.clothesImage {
    width: 80px;
    height: 80px;
    margin: 2px;
    border: 1px #d3d3d3;
    border-radius: 16px;
}

.bottomClothes {
    width: 344px;
    height: 256px;
    margin-bottom: 8px;
}

.topClothesUpload {
    width: 344px;
    height: 344px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: dotted 2px #d3d3d3;
    border-radius: 16px;
    margin-bottom: 10px;
}

.bottomClothesUpload {
    width: 344px;
    height: 344px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: dotted 2px #d3d3d3;
    border-radius: 16px;
}

.closetUp {
    display: block;
    margin-top: 170px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #8d8d8d;
}

.closetUp:hover {
    cursor: pointer;
    color: #000000;
}

.clothesUp {
    display: block;
    width: 120px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    margin: 0 auto;
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 8px;
    text-align: center;
    color: black;
    font-family : 'NotoSerifKR';
}

.clothesUp:hover {
    border: none;
    cursor: pointer;
}

.result {
    float: right;
    width: 520px;
    height: 882px;
}

.resultImageBig {
    width: 510px;
    height: 770px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: dotted 3px #d3d3d3;
    border-radius: 10px;
}

.resultBtn {
    width: 520px;
    height: 48px;
    line-height: 48px;
    background-color: black;
    color: white;
    font-family : 'NotoSerifKR';
    border-radius: 12px;
    font-size: 16px;
}

.resultBtn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
}