@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family : 'NotoSerifKR';
}
h1 {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 8vh;
}
p {
    text-align: center;
    color: #ff1919;
    font-size: 25px;
}
div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
label {
    font-weight: 3;
    font-size: 25px;
    margin-right: 50px;
}
input {
    width: 300px;
    height: 30px;
    border-width: 0 0 1px;
}
input[type="text"] {
    margin-left: 20px;
}
input:focus {
    outline: none;
}
button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background-color : #f5b7d7;
    border: none;
    border-radius: 8px;
    font-family : 'NotoSerifKR';
}
button:hover {
    color: white;
    background-color: #ec74b2;
    cursor: pointer;
}