<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitting Room</title>
    <link th:href="@{/fittingroom.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/fittingroom.js}"></script>
    <script src="https://kit.fontawesome.com/9c90c93df1.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="fittingLayout">
    <p th:text="${errorMessage}"></p>
    <div class="person">
        <h3>원본 이미지</h3>
        <div th:if="${personImageUrl} != null" class="personImg">
            <div class="personImageBig">
                <img th:src="@{${personImageUrl}}" class="personImage">
            </div>
        </div>
        <div th:unless="${personImageUrl} != null" class="personImg">
            <div class="personImageBig">
                <form action="/fittingroom/uploadPersonImage" method="post" enctype="multipart/form-data">
                    <label for="personImage" class="personUp">
                        <i class="fa-solid fa-user-plus fa-2x"></i><br>원본 이미지</label>
                    <input type="file" name="personImage" id="personImage" class="personImage">
                    <input th:if="${topImageUrl} != null" type="hidden" name="topImageUrl" value="${topImageUrl}">
                    <input th:if="${bottomImageUrl} != null" type="hidden" name="bottomImageUrl" value="${bottomImageUrl}">
                    <button type="submit" class="personUpBtn">
                        <i class="fa-solid fa-upload"></i>업로드</button>
                </form>
            </div>
        </div>
    </div>
    <div class="clothes">
        <h3>의상 이미지</h3>
        <div class="buttonGroup">
            <div class="sampleClothes" onclick="showClothes()">샘플</div>
            <div class="uploadClothes" onclick="uploadClothes()">내 PC</div>
        </div>
        <div class="clothesSelect" id="closet" style="display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-around;">
            <div class="topClothes" style="flex-basis: 22%; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-around;">
                <h3 style="width: 100%;">상의</h3>
                <div th:each="dto : ${topList}" style="width: 22%;">
                    <img class="clothesImage" th:src="@{${dto.topImageUrl}}" onclick="clothesSelect()" style="width: 100%;">
                </div>
            </div>
            <div class="bottomClothes" style="flex-basis: 22%; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-around;">
                <h3 style="width: 100%;">하의</h3>
                <div th:each="dto : ${bottomList}" style="width: 22%;">
                    <img class="clothesImage" th:src="@{${dto.bottomImageUrl}}" onclick="clothesSelect()" style="width: 100%;">
                </div>
            </div>
        </div>

        <div class="clothesUpload" id="clothesUpload">
            <div class="topClothesImg"  th:if="${topImageUrl} != null">
                <div class="topClothesUpload">
                    <img th:src="${topImageUrl}" class="topClothesImage">
                </div>
            </div>
            <div class="topClothesImg" th:unless="${topImageUrl} != null">
                <div class="topClothesUpload">
                    <form action="/fittingroom/uploadTopImage" method="post" enctype="multipart/form-data">
                        <label for="topImage" class="closetUp">
                            <i class="fa-solid fa-shirt fa-2x"></i><br>
                            상의</label>
                        <input type="file" name="topImage" id="topImage">
                        <input th:if="${personImageUrl} != null" type="hidden" name="personImageUrl" value="${personImageUrl}">
                        <input th:if="${bottomImageUrl} != null" type="hidden" name="bottomImageUrl" value="${bottomImageUrl}">
                        <button type="submit" class="clothesUp">
                            <i class="fa-solid fa-upload"></i>업로드</button>
                    </form>
                </div>
            </div>
            <div class="bottomClothesImg" th:if="${bottomImageUrl} != null">
                <div class="bottomClothesUpload">
                    <img th:src="${bottomImageUrl}" class="bottomClothesImage">
                </div>
            </div>
            <div class="bottomClothesImg" th:unless="${bottomImageUrl} != null">
                <div class="bottomClothesUpload">
                    <form action="/fittingroom/uploadBottomImage" method="post" enctype="multipart/form-data">
                        <label for="bottomImage" class="closetUp">
                            <i class="fa-solid fa-shirt fa-2x"></i><br>
                            하의</label>
                        <input type="file" name="bottomImage" id="bottomImage">
                        <input th:if="${personImageUrl} != null" type="hidden" name="personImageUrl" value="${personImageUrl}">
                        <input th:if="${topImageUrl} != null" type="hidden" name="topImageUrl" value="${topImageUrl}">
                        <button type="submit" class="clothesUp">
                            <i class="fa-solid fa-upload"></i>업로드</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="result">
        <h3>결과 이미지</h3>
        <div th:if="${composedImageUrl} != null" class="resultImg">
            <div class="resultImageBig">
                <img th:src="@{${composedImageUrl}}" class="resultImage">
            </div>
        </div>
        <div th:unless="${composedImageUrl} != null" class="resultImage">
            <div class="resultImageBig"></div>
            <form action="/fittingroom/resultImage" method="post">
                <button type="submit" class="resultBtn">합성하기</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
