
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitting Room</title>
</head>
<body>
<form action="/fittingroom/uploadPersonImage" method="post" enctype="multipart/form-data">
    <img th:src="@{${personImageUrl}}">
    <input type="file" name="personImage" id="personImage">
    <input type="text" style="display:none" name="pageNum" id="pageNum" value="0">
    <input type="text" name="category" id="category" value="JUMPER">
    <input type="text" name="color" id="color" value="BLUE">
    <input type="text" name="size" id="size" value="15">
    <button type="submit">업로드</button>
</form>
<div th:each="dto : ${pageOfClothesImage.content}">
    <img th:src="@{${dto.clothesImageUrl}}">
    <p>Category: <span th:text="${dto.clothesCategory.displayValue}"></span></p>
    <p>Color: <span th:text="${dto.clothesColor.displayValue}"></span></p>
    <p>ImageSn: <span th:text="${dto.clothesId}"></span></p>
</div>
</body>
</html>
