<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fitting Room</title>
    <link th:href="@{/fittingroom.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/fittingroom.js}"></script>
    <script src="https://kit.fontawesome.com/9c90c93df1.js" crossorigin="anonymous"></script>
    <script>
        let sampleTopImageUrl = null;
        let sampleBottomImageUrl = null;
        let personImageUrl = null;
        let topImageUrl = null;
        let bottomImageUrl = null;
    </script>
</head>
<body>
<div style="display:none">
    <input type="text" name="isSample" class="isSample" th:value="${isSample}">
    <input type="text" name="personImageUrl" class="personImageUrl" id="personImageUrl" th:value="${personImageUrl}">
    <input type="text" name="topImageUrl" class="topImageUrl" id="topImageUrl" th:value="${topImageUrl}">
    <input type="text" name="bottomImageUrl" class="bottomImageUrl" id="bottomImageUrl" th:value="${bottomImageUrl}">
</div>
<div class="fittingLayout">
    <p th:text="${errorMessage}"></p>
    <div class="person">
        <h3>원본 이미지</h3>
        <div th:if="${personImageUrl} != null" class="personImg">
            <div class="personImageBig">
                    <button type="submit" class="deletePersonImage" onclick="deletePersonImage()"><i class="fa-regular fa-circle-xmark"></i></button>
                <img th:src="@{${personImageUrl}}" class="personImage">
            </div>
        </div>
        <div th:unless="${personImageUrl} != null" class="personImg">
            <div class="personImageBig">
                <form action="/fittingroom/uploadPersonImage" method="post" enctype="multipart/form-data" id="personImageUpload">
                    <p class="personUp">
                        <i class="fa-solid fa-user-plus fa-3x"></i><br>원본 이미지</p>
                    <label for="personImage" class="personUpBtn">
                        <i class="fa-solid fa-upload"></i>업로드
                    </label>
                    <input type="file" name="personImage" id="personImage" class="personImage" onchange="personImageUpload()">
                    <input th:if="${topImageUrl} != null" type="hidden" name="topImageUrl" class="topImageUrl" th:value="${topImageUrl}">
                    <input th:if="${bottomImageUrl} != null" type="hidden" name="bottomImageUrl" th:value="${bottomImageUrl}">
                    <input type="hidden" name="isSample" class="isSample" th:value="${isSample}">
                </form>
            </div>
        </div>
    </div>
    <div class="clothes">
        <h3>의상 이미지</h3>
        <div class="buttonGroup">
            <div class="sampleClothes" onclick="showClothes()">샘플</div>
            <div class="uploadClothes" onclick="uploadClothes()">내 PC</div>
        </div>
        <div class="clothesSelect" id="closet">
            <div class="topClothes">
                <table class="clothesTable" id="sampleTopClothes">
                    <tr>
                        <td style="font-size: 16px">상의</td>
                    </tr>
                    <tr>
                        <td th:if="${#lists.size(topList)} >= 1" onclick="topClothesSelect(0);">
                            <img class="clothesImage" th:src="@{${topList[0].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 2" onclick="topClothesSelect(1);">
                            <img class="clothesImage" th:src="@{${topList[1].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 3" onclick="topClothesSelect(2);">
                            <img class="clothesImage" th:src="@{${topList[2].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 4" onclick="topClothesSelect(3);">
                            <img class="clothesImage" th:src="@{${topList[3].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${#lists.size(topList)} >= 5" onclick="topClothesSelect(4);">
                            <img class="clothesImage" th:src="@{${topList[4].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 6" onclick="topClothesSelect(5);">
                            <img class="clothesImage" th:src="@{${topList[5].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 7" onclick="topClothesSelect(6);">
                            <img class="clothesImage" th:src="@{${topList[6].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 8" onclick="topClothesSelect(7);">
                            <img class="clothesImage" th:src="@{${topList[7].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${#lists.size(topList)} >= 9" onclick="topClothesSelect(8);">
                            <img class="clothesImage" th:src="@{${topList[8].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 10" onclick="topClothesSelect(9);">
                            <img class="clothesImage" th:src="@{${topList[9].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 11" onclick="topClothesSelect(10);">
                            <img class="clothesImage" th:src="@{${topList[10].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(topList)} >= 12" onclick="topClothesSelect(11);">
                            <img class="clothesImage" th:src="@{${topList[11].topImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bottomClothes">
                <table class="clothesTable" id="sampleBottomClothes">
                    <tr>
                        <td style="font-size:16px">하의</td>
                    </tr>
                    <tr>
                        <td th:if="${#lists.size(bottomList)} >= 1" onclick="bottomClothesSelect(0);">
                            <img class="clothesImage" th:src="@{${bottomList[0].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 2" onclick="bottomClothesSelect(1);">
                            <img class="clothesImage" th:src="@{${bottomList[1].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 3" onclick="bottomClothesSelect(2);">
                            <img class="clothesImage" th:src="@{${bottomList[2].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 4" onclick="bottomClothesSelect(3);">
                            <img class="clothesImage" th:src="@{${bottomList[3].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${#lists.size(bottomList)} >= 5" onclick="bottomClothesSelect(4);">
                            <img class="clothesImage" th:src="@{${bottomList[4].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 6" onclick="bottomClothesSelect(5);">
                            <img class="clothesImage" th:src="@{${bottomList[5].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 7" onclick="bottomClothesSelect(6);">
                            <img class="clothesImage" th:src="@{${bottomList[6].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 8" onclick="bottomClothesSelect(7);">
                            <img class="clothesImage" th:src="@{${bottomList[7].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${#lists.size(bottomList)} >= 9" onclick="bottomClothesSelect(8);">
                            <img class="clothesImage" th:src="@{${bottomList[8].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 10" onclick="bottomClothesSelect(9);">
                            <img class="clothesImage" th:src="@{${bottomList[9].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 11" onclick="bottomClothesSelect(10);">
                            <img class="clothesImage" th:src="@{${bottomList[10].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                        <td th:if="${#lists.size(bottomList)} >= 12" onclick="bottomClothesSelect(11);">
                            <img class="clothesImage" th:src="@{${bottomList[11].bottomImageUrl}}">
                            <img class="checkClothesImage" src="image/checkbox.png">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="clothesUpload" id="clothesUpload">
            <div class="topClothesImg"  th:if="${topImageUrl} != null">
                <div class="topClothesUpload">
                        <button type="submit" class="deleteTopClothesImage" onclick="deleteTopClothesImage()"><i class="fa-regular fa-circle-xmark"></i></button>
                    <img th:src="${topImageUrl}" class="topClothesImage">
                </div>
            </div>
            <div class="topClothesImg" th:unless="${topImageUrl} != null">
                <div class="topClothesUpload">
                    <form action="/fittingroom/uploadTopImage" method="post" enctype="multipart/form-data" id="uploadTopClothes">
                        <p class="closetUp">
                            <i class="fa-solid fa-shirt fa-2x"></i><br>상의</p>
                        <label for="topImage" class="clothesUp">
                            <i class="fa-solid fa-upload"></i>업로드
                        </label>
                        <input type="file" name="topImage" id="topImage" onchange="uploadTopClothes()">
                        <input th:if="${personImageUrl} != null" type="hidden" name="personImageUrl" th:value="${personImageUrl}">
                        <input th:if="${bottomImageUrl} != null" type="hidden" name="bottomImageUrl" th:value="${bottomImageUrl}">
                        <input type="hidden" name="isSample" class="isSample" th:value="${isSample}">
                    </form>
                </div>
            </div>
            <div class="bottomClothesImg"
                 th:if="${bottomImageUrl} != null">
                <div class="bottomClothesUpload">
                        <button type="submit" class="deleteBottomClothesImage" onclick="deleteBottomClothesImage()"><i class="fa-regular fa-circle-xmark"></i></button>
                    <img th:src="${bottomImageUrl}" class="bottomClothesImage">
                </div>
            </div>
            <div class="bottomClothesImg"
                 th:unless="${bottomImageUrl} != null">
                <div class="bottomClothesUpload">
                    <form action="/fittingroom/uploadBottomImage" method="post" enctype="multipart/form-data" id="uploadBottomClothes">
                        <p class="closetUp">
                            <i class="fa-solid fa-shirt fa-2x"></i><br>하의</p>
                        <label for="bottomImage" class="clothesUp">
                            <i class="fa-solid fa-upload"></i>업로드
                        </label>
                        <input type="file" name="bottomImage" id="bottomImage" onchange="uploadBottomClothes()">
                        <input th:if="${personImageUrl} != null" type="hidden" name="personImageUrl" th:value="${personImageUrl}">
                        <input th:if="${topImageUrl} != null" type="hidden" name="topImageUrl" class="topImageUrl" th:value="${topImageUrl}">
                        <input type="hidden" name="isSample" class="isSample" th:value="${isSample}">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="result">
        <h3>결과 이미지</h3>
        <div th:if="${composedImageUrl} != null" class="resultImg">
            <div class="resultImageBig">
                <img th:src="@{${composedImageUrl}}" class="resultImage">
            </div>
        </div>
        <div th:unless="${composedImageUrl} != null" class="resultImage">
            <div class="resultImageBig"></div>
            <form action="/fittingroom/compose" method="post">
                <input type="hidden" name="personImageUrl" th:value="${personImageUrl}">
                <input type="hidden" name="topImageUrl" th:if="${topImageUrl} != null" th:value="${topImageUrl}">
                <input type="hidden" name="bottomImageUrl" th:if="${bottomImageUrl} != null" th:value="${bottomImageUrl}">
                <input type="hidden" name="sampleTopImageUrl" id="composeSampleTopImageUrl" >
                <input type="hidden" name="sampleBottomImageUrl" id="composeSampleBottomImageUrl">
                <input type="hidden" name="isSample" class="isSample" id="composeIsSample" th:value="${isSample}">
                <button type="submit" class="resultBtn" id="composeBtn" onchange="checkAllImage()">합성하기</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>