<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link th:href="@{/login.css}" rel="stylesheet">
</head>
<body>
<p th:text="${errorMessage}"></p>
<form action="/login" method="post">
    <h1>로그인</h1>
    <div>
        <label for="userId" class="form-label">아이디</label>
        <input type="text" name="userId" id="userId" class="form-control" placeholder="아이디를 입력하세요">
    </div>
    <div>
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호를 입력하세요">
    </div>
    <div>
        <button type="submit">로그인</button>
    </div>
</form>

</body>
</html>